<%= form_with(model: @list, url: list_path, local: true) do |form| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= @list.errors.count %>件のエラーがあります。</h2>
      <ul>
      <br>
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="content">
    <%= form.label :"内容" %>
    <%= form.text_area :content, size: "100x10" %>
  </div>
  <span  class= "btnlike"><%= form.submit name="保存する"%></span>
  <%= link_to '戻る', :back, class: "btnlike" %>
<% end %>