<%= form_with(model: @list, url: confirm_lists_path, local: true) do |form| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= @list.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="content">
    <%= form.label :"内容" %>
    <%= form.text_area :content, size: "100x10" %>
  </div>
  <br>
  <span class = "button"><%= form.submit name="投稿する" %></span>
<% end %>
<br>
<%= link_to "一覧に戻る", lists_path, class: "btnlike" %>