<%= form_with(model: @list, url: confirm_lists_path, local: true) do |form| %>
  <div class="content">
    <%= form.label :"内容" %>
    <%= form.text_area :content , size: "100x10"%>
  </div>
  <br>
  <span class = "button"><%= form.submit name="投稿する"%></span>
<% end %>
<br>
<%= link_to "一覧画面", lists_path, class: "btnlike" %>